<div id="body"> 
  <div id="tabulkacontainer">
      <div id="top">
          <br>
      </div>
      <div id="herni_pole">
        <div id="prihlaseni">
          <h1>Hello User!</h1>
          <form>
            <input type="text" name="username" placeholder="Jmeno" [(ngModel)]="username"/>
            <input type="password" name="password" placeholder="Heslo" [(ngModel)]="password"/>
          </form>
          <button (click)="clickedButton()">LOGIN</button>
          <div class="vysledek">
            {{vysledek}}
        </div>
      </div>
      <p>Made by VojtaKKT</p>
  </div>
</div> 